{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Nueva Noticia</h1>

    <form action="{{ path('noticia_new') }}" method="post" {{ form_enctype(form) }}>
        <div class="row top-buffer">
        {{ form_widget(form) }}
        </div>
        <div class="row top-buffer">
            <div class="span3">
                <button type="submit" class="btn btn-large btn-block btn-success">Crear</a>
            </div>
            <div class="span3">
                <a href="{{ path('noticia_index') }}" class="btn btn-large btn-block btn-default">Volver a Noticias</a>
            </div>
        </div>
    </form>
{% endblock %}